<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
</head>
<body>
  <h5>New Message</h5>
  <form id="new-message" method="POST" action="/new">
    <input type="text" id="user" name="messageUser" placeholder="username"/>
    <input type="text" id="text" name="messageText" placeholder="What would you like to say?"/>
    <button type="submit">Send it!</button>
  </form>
</body>
</html>