<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= message.user %></title>
</head>
<body>
  <div>
    <h3><%= message.user %> wrote...</h3>
    <p><%= message.text %></p>
    <div>Posted <%= message.added %></div>
  </div>
  <a href="/">Home</a>
</body>
</html>